<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="https://kit.fontawesome.com/999051c9de.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="#/login" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../../assets/images/logo.png" width="180" alt="">
                </a>
                <h4 class="text-center">Đăng Nhập</h4>
              
                  <div class="mb-3">
                    <label for="username" class="form-label">Tài khoản</label>
                    <input type="text" class="form-control" ng-model="username">
                    <div ng-repeat="err in validationErrors">
                      <span class="validate" ng-if="err.objectName == 'loginRequest' && err.field == 'username'">
                         {{err.defaultMessage}}
                      </span>
                      </div>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" ng-model="password">
                    <div ng-repeat="err in validationErrors">
                      <span class="validate" ng-if="err.objectName == 'loginRequest' && err.field == 'password'">
                         {{err.defaultMessage}}
                      </span>
                      </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <!-- <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked"> -->
                      <!-- <span class="form-check-label text-dark" for="flexCheckChecked">
                        Ghi nhớ tài khoản
                      </soan> -->
                    </div>
                    <a class="text-primary fw-bold" href="#/forget">Quên mật khẩu ?</a>
                  </div>
                  <button ng-click="login()" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng nhập</button>
               
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>